<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.dao.system.SystemMenuFuncMapper">
  <!-- 结果集映射 -->
  <resultMap
    id="SystemMenuFuncVO"
    type="com.eva.dao.system.vo.SystemMenuFuncVO"
    autoMapping="true"
  >
    <id column="id" property="id"/>
  </resultMap>

  <!-- 搜索 -->
  <select
    id="search"
    parameterType="com.eva.dao.system.dto.QuerySystemMenuFuncDTO"
    resultMap="SystemMenuFuncVO"
  >
    SELECT
      `func`.`id`,
      `func`.`menu_id`,
      `func`.`permission_id`,
      `func`.`name`,
      `func`.`remark`,
      `func`.`created_at`,
      `func`.`updated_at`,
      `permission`.`code` AS `permission`,
      `creator`.`id` AS `creatorId`,
      `creator`.`real_name` AS `creatorRealName`,
      `updater`.`id` AS `updaterId`,
      `updater`.`real_name` AS `updaterRealName`
    FROM `system_menu_func` `func`
    LEFT JOIN `system_permission` `permission`
      ON `permission`.`id` = `func`.`permission_id`
      AND `permission`.`deleted` = 0
    INNER JOIN `system_user` `creator`
      ON `creator`.`id` = `func`.`created_by`
    LEFT JOIN `system_user` `updater`
      ON `updater`.`id` = `func`.`updated_by`
    <where>
      AND `func`.`deleted` = 0
      <if test="menuId != null">
        AND `func`.`menu_id` = #{menuId}
      </if>
      <if test="!isSuperAdmin">
        AND (
          <!-- 查询无需权限的菜单功能 -->
          `func`.`permission_id` IS NULL
          <!-- 查询自己创建的菜单功能 -->
          OR `func`.`created_by` = #{userId}
          <!-- 查询拥有权限的菜单功能 -->
          <if test="permissionIds.size > 0">
            OR `func`.`permission_id` IN
            <foreach collection="permissionIds" item="id" open="(" close=")" separator=",">
              #{id}
            </foreach>
          </if>
        )
      </if>
    </where>
    ORDER BY `func`.created_at DESC
  </select>
</mapper>
